//
// Colors
//

// General
$primary: #282A3B;
$secondary: #05E5AF;
$greytwo: #282A3B;
$palm: #445D31;
$slate: #909999;
$slate-tint: #9baba9;
$taupe: #F3EFE8;
$sol: #DBA435;
// Text
$headings-color: $primary;
$body-color: $primary;




//
// Typography
//

// Fonts


@font-face {
    font-family: VivintBold;
    src: url("/fonts/VivintRounded-Bold.otf") format("opentype");
    
}
@font-face {
    font-family: VivintRegular;
    src: url("/fonts/VivintRounded-Regular.otf") format("opentype");
    
}
// @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900|Yeseva+One&display=swap");
$font-family-base: "VivintBold";
$headings-font-family: "VivintRegular";

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
