.resume{
    position: relative;
    margin-bottom: 100px;
    padding: 150px 0;
    @include desktop{
        margin-bottom: 40px;
        padding: 100px 0;
    }
    &__background{
        background: $primary;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: skewY(-2deg);
    }
    &__heading{
        
        color: $primary;
        margin-right: 100px;
        position: sticky;
        position: -webkit-sticky;
        top: 150px;
        @include desktop{
            margin-right: 0;
            margin-bottom: 30px;
        }
        h2{
            font-size: 2em;
        }
        
    }
    &__education{
        &_item{
            h3,h4{
                color: $primary;
            }
            p{
                color: $primary;
            }
            background: $taupe;
            padding: 30px;
            border-radius: 20px;
            margin-bottom: 30px;
            box-shadow: 0px 20px 40px 0px rgba(50, 65, 141, 0.12);
            span{
                color: $primary;
                display: block;
                margin: 0 0 20px 30px;
                position: relative;
            }
            img{
                width: 50% ;
                height: 50%;
                display: block;
                margin: auto;
                border-radius: 50px;
 
            }
        }
    }
}


