<section class="section resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            {{ if  .Params.advanced }}
                {{ partial "form-partner.html" . }}
            {{ end  }}
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <div class="text-light">
                        <h2 class="top-title">{{ .Params.offerTopTitle }}</h2>
                        {{ .Params.offerTitle | markdownify }}
                    </div>

                    <div class="btn-group nav mt-5">
                        <a href="#automation" class="btn btn-primary active" data-toggle="tab">Automation</a>
                        <a href="#security" class="btn btn-primary" data-toggle="tab">Security</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content">
                    <div class="resume__education tab-pane active" id="automation">
                        {{ $Section := .Params.automation }}
                        {{ range $Section }}
                            <div class="resume__education_item row">
                                <img src="{{ .img }}">
                                <div class="col-sm">
                                    {{ .content | markdownify }}
                                </div>
                            </div>
                            <!-- <span class="pre-line text-primary"> {{ .Params.time }} </span> -->
                        {{ end }}
                    </div>

                    <div class="resume__education tab-pane" id="security">
                        {{ $Section := .Params.security }}
                        {{ range $Section }}
                            <div class="resume__education_item row">
                                <img src="{{ .img }}">
                                <div class="col-sm">
                                    {{ .content | markdownify }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

