<section>
    <div class="slider-row">
        <div class="container">
          <section class="logo-carousel col d-flex flex-column justify-content-between" data-arrows="true">
            
            <div class="slide"><img src="/images/logos/Forbes.jpg"></div>
            <div class="slide"><img src="/images/logos/iot.jpg"></div>
            <div class="slide"><img src="/images/logos/dev.jpg"></div>
            <div class="slide"><img src="/images/logos/us.jpg"></div>
            <div class="slide"><img src="/images/logos/dt.jpg"></div>
           
           
          </section>
        </div>
      </div>
</section>